<div ng-class="ctrl.compact ? 'compact' : ''">
  <div class="row">
    <div class="col-md-12 text-center">
      <form>
        <textarea id="txtTitle" class="inline-edit" type="text" ng-model="ctrl.storedRaffle.title" ng-required ng-blur="ctrl.onEditSave($event)" ng-keypress="ctrl.onEditSave($event)" ng-keyup="ctrl.autoExpand($event)" ></textarea>
      </form>
      <date-picker on-date-change="ctrl.init_dashboard()" ng-hide="ctrl.compact"></date-picker>
      <alert></alert>
    </div>
  </div>
  <div class="row entry-info" ng-show="ctrl.compact">
    <div class="col-md-4 col-md-offset-1 text-center">
      <img src="/raffles/{{ctrl.raffle}}/qr-code.png" alt="QR Code" />
    </div>
    <div class="col-md-6">
      <p class="text-left">
        To enter, scan the code: <br />
        or email <a href="mailto:{{ctrl.raffle}}@raffle.sparkpost.com">{{ctrl.raffle}}@raffle.sparkpost.com</a>
      </p>
    </div>
  </div>
  <div class="row entry-data">
    <div class="col-md-4 col-md-offset-1 text-center">
      <div class="count panel panel-default">
        <div class="panel-body">
          <div class="section-title">Count:</div>
          <hr />
          <div class="center-block count-num">{{ctrl.count}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="entries panel panel-default">
        <div class="panel-body">
          <div class="section-title">Latest Entries:</div>
          <table class="table">
            <tbody>
              <tr ng-repeat="entry in ctrl.recentEntries">
                <td>{{entry.email}}</td>
                <td>{{entry.subject}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row entry-info" ng-hide="ctrl.compact">
    <div class="col-lg-10 col-lg-offset-1">
      <p>
        To enter, scan the code: <br />
        or email <a href="mailto:{{ctrl.raffle}}@raffle.sparkpost.com">{{ctrl.raffle}}@raffle.sparkpost.com</a>
      </p>
      <img src="/raffles/{{ctrl.raffle}}/qr-code.png" alt="QR Code" />
    </div>
  </div>
</div>
