<div class="col-xs-8 col-xs-offset-2">
  <h3>SparkPost Raffles</h3>
  <p>Below is the set of recipient localparts currently in use for the <em>@raffle.sparkpost.com</em> inbound domain.</p>
  <p>Each localpart represents a raffle and the count of entrants, people sending email to that localpart, is listed alongside.</p>
</div>

<div class="col-xs-6 col-xs-offset-3">
  <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>

<div class="col-xs-6 col-xs-offset-3">
  <input type="datetime-local" name="from_date" ng-model="from_date" ng-model-options="{ debounce: 1000 }" ng-change="getResults()" />
  <input type="datetime-local" name="to_date" ng-model="to_date" ng-model-options="{ debounce: 1000 }" ng-change="getResults()" />

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Raffle Name / Localpart</th>
        <th># Entrants</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="raffle in raffles">
        <td>{{raffle.localpart}}</td>
        <td>{{raffle.count}}</td>
        <td><button ng-click="pickWinner(raffle.localpart)">Pick a winner</button></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>