<!DOCTYPE html>
<html lang="en" ng-app="rafflesApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
  <!-- fetch available localparts -->
</head>
<body ng-controller="RaffleListCtrl">
  <div class="container-fluid">
    <div class="col-xs-6 col-xs-offset-3">
      <h3>Avocado Industries Mail Search</h3>
      <p>From here you can search through all email received to an <em>@hey.avocado.industries</em>
      email address.</p>
      <p>Choose a date window and optionally a recipient localpart, then click Search to see results.</p>
      <p>For example, selecting:
        <dl class="dl-horizontal">
          <dt>From</dt>
          <dd>2016-01-01<dd>
          <dt>To</dt>
          <dd>2016-02-01</dd>
          <dt>Localpart</dt>
          <dd>'elixir'</dd>
        </dl>
        ...will show all email sent to <em>elixir@hey.avocado.industries</em> in January 2016.</p>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
      <form novalidate name="form" class="form-inline">
        <!-- from date -->
        <label for="fromdate">From</label>
        <input type="date" name="fromdate" ng-model="fromdate" />

        <!-- to date -->
        <label for="todate">To</label>
        <input type="date" name="todate" ng-model="todate" />

        <!-- localpart -->
        <label for="localpart">Localpart</label>
        <input type="text" name="localpart" ng-model="localpart" placeholder="localpart" />

        <button class="btn" ng-click="updateView()">Search</button>
      </form>

      <!-- list emails: from, subject -->

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>To</th>
              <th>From</th>
              <th>Subject</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="email in emails">
              <td>{{email.smtp_to}}</td>
              <td>{{email.smtp_from}}</td>
              <td>{{email.subject}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>

