  <div class="row">
    <div class="col-xs-3 col-xs-offset-8">
      <button class="btn" ng-click="home()">Back to list</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <dl class="dl-horizontal">
          <dt>Status</dt>
          <dd>{{status()}}</dd>
          <dt>Winner</dt>
          <dd>
            <span ng-if="raffle.winner">Person #{{raffle.winner}}</span>
            <button ng-if="!raffle.winner" class="btn" ng-click="pickWinner()">Pick a winner</button>
          </dd>
        </dl>
      </div>
    </div>
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-8 col-xs-offset-2">
      <div class="alert alert-warning" ng-show="form.localpart.$error.required">Localpart is required</div>
      <div class="alert alert-warning" ng-show="form.name.$error.required">Title is required</div>
      <form name="form" class="form-horizontal" novalidate>
        <div class="form-group">
          <label for="slug" class="col-xs-3 control-label">Localpart</label>
          <div class="col-xs-6"> 
            <input required="" type="text" name="localpart" ng-model="raffle.slug" placeholder="localpart@inbounddomain.com" />
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-xs-3 control-label">Title</label>
          <div class="col-xs-6"> 
            <input required
              class="form-control"
              type="text"
              name="name"
              ng-model="raffle.name"
              placeholder="Raffle Title!" />
            </div>
        </div>
        <div class="form-group">
          <label for="start_date" class="col-xs-3 control-label">Start time</label>
          <div class="col-xs-6"> 
              <input required
                type="date"
                name="start_date"
                ng-model="start_date"
                placeholder="yyyy-MM-dd" />
              <input required
                type="time"
                name="start_time"
                ng-model="start_time"
                placeholder="00:00" />
              </div>
          </div>
        <div class="form-group">
          <label for="end_date" class="col-xs-3 control-label">End time</label>
          <div class="col-xs-6"> 
              <input required
                type="date"
                name="end_date"
                ng-model="end_time"
                placeholder="yyyy-MM-dd" />
              <input required
                type="time"
                name="end_time"
                ng-model="end_time" />
              </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9 col-xs-offset-1">
            <button class="form-control btn btn-default" ng-click="save()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
