@import '@sparkpost/matchbox/src/styles/config.scss';
@import '@sparkpost/matchbox/src/styles/global.scss';

.footer {
  position: static;
  background: color(gray, 1);

  h1, h2, h3, h4, h5, h6, p {
    color: color(gray, 10);
  }

  &__nav {
    padding: rem(33) 0;

    border-top: 1px solid color(gray, 2);

    .logo {
      height: rem(30);
      width: auto;
    }
  }

  &__link {
    display: inline-block;
    padding: rem(9) rem(12);

    font-family: font-family();
    font-size: rem(10);
    color: color(gray, 5);
    font-weight: 400;

    &:hover {
      color: color(gray, 10);
      text-decoration: none;
    }

    @media screen and (min-width: break(md)) {
      font-size: rem(12);
      padding: 0 rem(21);
    }
  }

  .button {
    display: block;
    text-align: center;
    font-size: rem(11);
    white-space: nowrap;

    @media screen and (min-width: break(md)) {
      display: inline-block;
      font-size: rem(12);
      text-align: left;
    }
  }
}
