h1 {
  width: 100%;
  background: #55555a;
  padding: 0.5em;
  margin: 0;
  color: #ffffff;
}
body.page-dashboard {
  background-image: url(assets/images/Background_Pattern.png);
  background-size: cover;
  font-family: 'Helvetica', 'sans-serif';
  margin: 100px 125px;
}
body.page-dashboard h1,
body.page-dashboard .inline-edit {
  background: transparent;
  color: #ffffff;
  font-size: 60px;
  font-weight: bold;
  border: 0;
  text-align: center;
  margin: 0.5em;
  line-height: 60px;
  border-bottom: 5px solid transparent;
  resize: none;
  overflow: auto;
  box-sizing: content-box;
}
body.page-dashboard h1:focus,
body.page-dashboard .inline-edit:focus {
  border-bottom-color: #fa6423;
  outline: 0;
}
body.page-dashboard .form-control {
  border-radius: 0;
  font-size: 16px;
  line-height: 36px;
  height: 36px;
}
body.page-dashboard .form-control:focus {
  border: 0;
}
body.page-dashboard .entry-data {
  margin-top: 100px;
}
body.page-dashboard .panel {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border-top: solid #fa6423 10px;
  margin: 0;
}
body.page-dashboard .count {
  color: #55555a;
  background-color: #ffffff;
  height: 400px;
}
body.page-dashboard .count hr {
  border: 1px solid #d2d2d5;
  width: 50%;
}
body.page-dashboard .section-title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 60px;
  text-align: center;
}
body.page-dashboard .count-num {
  font-size: 100pt;
  font-weight: 100;
  color: #fa6423;
}
body.page-dashboard .entries {
  color: #55555a;
  background-color: #f2f2f5;
  height: 400px;
}
body.page-dashboard .entries table {
  table-layout: fixed;
}
body.page-dashboard .entries table td {
  border: 0;
  font-size: 16px;
  width: 50%;
}
body.page-dashboard .entries table td:first-child {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.page-dashboard .entry-info {
  margin-top: 70px;
  color: white;
  font-size: 21px;
  font-weight: 100;
  line-height: 28px;
  text-align: right;
}
body.page-dashboard .entry-info p {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}
body.page-dashboard .entry-info a {
  color: #37aadc;
  font-weight: bold;
  text-decoration: none;
}
body.page-dashboard .entry-info img {
  border: 2px solid #37aadc;
  width: 96px;
}
body.page-dashboard .compact {
  margin-top: -75px;
}
body.page-dashboard .compact .entry-info {
  margin-top: 0;
}
body.page-dashboard .compact .entry-data {
  margin-top: 50px;
}
